@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
    color: #04030b;
    --color-yellow: #ffde59;
    --color-orange: #ff9959;
    --color-mauve: #bd8296;
    --color-blue: #80aceb;
    --color-green: #5fbe7e;

  font-family: 'JosefinSans', sans-serif;
}

p {
  max-width: 70ch;
}